#Tables-And-Matcher-Area {
    width: 57vw;
    height: 43vw;
    /* width: 100%; */
    background-color: #2f4f4f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ordersTable {
    font-size: 1vw;
    height: 31vw;
    /* width: 50%;
    left: 10%; */
    /* overflow-y: auto; */
}

#orderTable {
    /* width: 95%;
    padding: 2%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-size: 30vw; */
}

#Table-Area {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}
